iKost Amory Seturan
<p>Kost Exclusive Putri Belakang kampus UPN Seturan Yogyakarta</p>

<p>Terima : Putri</p>

<p>Tipe Kamar D ( single bed )</p>
<p>Harga : 1.3 jt perbulan</p>
<br>
<p>Tipe Kamar S ( Double bed )</p>
<p>Harga : 1.4 jt perbulan</p>
<br>
<p>Tipe Kamar E ( single bed + TV )</p>
<p>Harga : 1.4 jt perbulan</p>
<br>
<p>Tipe Kamar P ( Double bed + TV )</p>
<p>Harga : 1.5 jt perbulan</p>
<br>
<p>Fasilitas Kamar : </p>
<p>AC</p>
<p>TV LED optional</p>
<p>Tempat tidur Springbed lengkap sprei & bantal</p>
<p>Free service ganti sprei 2 minggu sekali</p>
<p>Full furnished (lemari pakaian, meja kursi belajar, cermin)</p>
<p>Free WiFi</p>
<p>Kamar mandi dalam</p>
<ul>
<li>- Shower</li>
<li>- Kloset duduk</li>
<li>- Exhaust</li>
<li>- Wastafel</li>
Listrik token tiap kamar</li>
</ul>

<p>Fasilitas Umum :</p>
<p>Dapur Umum lengkap peralatan kompor gas (Free gas)</p>
<p>Kulkas</p>
<p>Dispenser (free air minum) tiap lantai</p>
<p>Ruang tamu / ruang santai tiap lantai</p>
<p>Gazebo roof top</p>
<p>Ruang jemur</p>
<p>Parkir luas</p>
<p>Keamanan 24 jam CCTV</p>
<p>Penjaga kost</p>
<p>AC</p>
<p>TV</p>
 <p>lemari</p> 
<p>meja,kasur</p>
 <p>kamar mandi dalam ,shower, kloset duduk Exhaust wastafel water Heater dll</p>

<p>Lokasi sangat Strategis, tenang & Nyaman :</p>
<p>Bebas jam malam 24 jam</p>
<p>Jalan kaki ke tempat Laundry, warunk upnormal, mister burger, dan sekitarnya</p>
<p>Selangkah ke kampus UPN, Mercubuana kampus 3, STIE YKPN</p>
<p>3 menit ke kampus FE UII, AMIKOM, STIKES guna bangsa, dan sekitarnya</p>
<p>6 menit ke kampus Atmajaya Babarsari dan sekitarnya</p>
<p>3 menit ke Hartono Mall</p>
<p>7 menit ke Ambarukmo Plaza</p>
<p>10 menit ke Bandara Adisucipto Yogyakarta</p>